<div ng-controller="VideoListCtrl">
    <img src="/app/img/instaOke2.jpg">
    <h1 id="head" class="">Video Collection</h1>
    <article class="col-sm-3 videox"  ng-repeat="video in data| filter: {title: searchText.search}">
        <div>
            <div>
                <strong><p id="title">{{video.title}} </p></strong>
                <p>{{video.comments}}</p>
                <img ng-src="{{video.pic.url}}">
                <!-- <div class="col-xs-6 savedButtons"> -->
                <button class="btnx" ng-click="deleteVideos(video.id)">Delete Video</button>
                <a class="anc" ng-href="#/video/{{video.id}}">Watch Video</a></div>
            <!-- </div> -->
        </div>
    </article>
</div>
<!--  <iframe width="853" height="480"  ng
-src='{{video.videoID}}' ng-model="newVideo.videoID" frameborder="0" allowfullscreen> </iframe> -->
